@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@theme {
  --font-primary: "Jost", sans-serif;
  --color-primary: #fed29c;
  --color-secondary: #ffc3c6;
  --color-text-color: #383838;
  --color-background: #eaeaea;
}
